html, body {
  margin:0;
  padding: 0;
  height: 100%;
  font: 16px Arial, sans-serif;
  color: #353131;
}

div {
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 300px;
  background: hotpink;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  margin: -150px 0 0 -150px;
  padding: 25px;
}

.box div {
  height: 100%;
  width: 100%;
}

.inner1 {
  background: white;
  padding: 25px;
}

.inner2 {
  background: hotpink;
  padding: 25px;
}

.inner3 {
  background: white;
  text-align: center;
  padding: 37px 0 0 0;
}

.inner3 span {
  font-weight: bold;
  font-size: 38px;
}